<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>&bull; ClubFz16CostaRica &bull;</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/fullpage.js/dist/jquery.fullpage.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    

       <div class="wrapper">
         <header class="clearfix">
           <nav>
             <div class="logo-container">
               <img src="images/FZ-logo.png" alt="Yamaha Logo" />
             </div>
             <div class="nav-container">
               <ul id="menu">
                   <li data-menuanchor="home"><a href="#home">Incio</a></li>
                   <li data-menuanchor="intro"><a href="#intro">ClubFZ</a></li>
                   <li data-menuanchor="taller"><a href="#taller">Taller</a></li>
                   <li data-menuanchor="accesorios"><a href="#accesorios">Accesorios</a></li>
                   <li data-menuanchor="eventos"><a href="#eventos">Eventos</a></li>
                   <li data-menuanchor="gallery"><a href="#gallery">Galeria</a></li>
                   <li data-menuanchor="contact"><a href="#contact">Contacto</a></li>
               </ul>
             </div>
           </nav>
         </header>
         <div id="fullpage" class="wrapper container">
           <div class="section home">
             <h1>Club FZ16 Costa Rica.</h1>
             <p>Bienvenidos a nuestro sitio web.</p>
           </div>
           <div class="section intro">
             <div class="row">
               <h2>Club FZ</h2>
               <p>Club FZ16 Costa Rica nacimos en mayo del 2011, Con la idea de unir a los amantes de la grandiosa moto Yamaha FZ16, dedicandonos a recorrer el territorio nacional y con el tiempo nos fuimos especializando con la ayuda de Yamaha y no solamente haciamos paseos si no q tambien comenzamos a personalizar , modificar y embellecer aun mas nuestras motos al punto que al día de hoy contamos con casa Club, repuestos, accesorios, taller autorizado por el INS, asistencia teléfonica, asistencia en carretera, taller de mantenimiento y reparación.</p>
             </div>
             <div class="row">
               <img src="images/content/intro.jpg" alt="club fz">
             </div>
           </div>
           <div class="section taller">
            <div class="row">
              <h2>Taller</h2>
              <p>
                Contamos con más de 5 ańos de experencia reperando y embelleciendo FZ's, respuestos originales Yamaha, trabajos de Pintura y Fibra. Especialistas en FZ.
              </p>
            </div>
            <div class="row">
              <img src="images/content/taller.jpg"  alt="taller"/>
            </div>
           </div>
           <div class="section accesorios">
             <div class="row-full">
               <h2>Accesorios</h2>
             <p>Contamos con una extensa linea de accesorios y repuestos para tu moto, de las sigueintes marcas:</p>
             </div>
             <div class="brands">
               <ul>
                 <li>AGV</li>
                 <li>Dainese</li>
                 <li>LS2</li>
                 <li>Alpinestars</li>
                 <li>Yamalube</li>
                 <li>Yamaha Repuestos</li>
               </ul>
             </div>
           </div>
           <div class="section eventos">
             <h2>Calendario Paseos</h2>
             <div id="full-clndr" class="clearfix">
               <script type="text/template" id="calendar">
                 <div class="clndr-controls">
                   <div class="clndr-previous-button">&lt;</div>
                   <div class="clndr-next-button">&gt;</div>
                   <div class="current-month"><%= month %> <%= year %></div>

                 </div>
                 <div class="clndr-grid">
                   <div class="days-of-the-week clearfix">
                     <% _.each(daysOfTheWeek, function(day) { %>
                     <div class="header-day"><%= day %></div>
                     <% }); %>
                   </div>
                   <div class="days">
                     <% _.each(days, function(day) { %>
                     <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
                     <% }); %>
                   </div>
                 </div>
                 <div class="event-listing">
                 <div class="event-listing-title">PASEOS DEL MES</div>
                   <% _.each(eventsThisMonth, function(event) { %>
                   <div class="event-item">
                     <div class="event-item-name"><%= event.title %></div>
                     <div class="event-item-location"><%= event.location %></div>
                   </div>
                   <% }); %>
                 </div>
               </script>
             </div><!-- end of .calendar -->
           </div>
           <div class="section gallery">
             <h2>Galeria</h2>
           </div>
           <div class="section contact">
             <h2>Contactenos</h2>
             <p>Estamos para servirle.</p>
           </div>
         </div>
       </div>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/fullpage.js/dist/jquery.fullpage.js"></script>
    <script src="/bower_components/fullpage.js/vendors/jquery.easings.min.js"></script>
    <script src="/bower_components/fullpage.js/vendors/scrolloverflow.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/moment/locale/es.js"></script>
    <script src="/bower_components/clndr/clndr.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
